
/* This is a single-line comment */
:root {
    --darkBrown: rgb(58, 30, 10);
    --medBrown: rgb(85, 62, 45);
    --red: coral;
    --lightRed: rgb(250, 174, 147);
    --medRed: rgb(245, 150, 115);
    --darkRed: rgb(198, 53, 0);
    --darkGrey: rgb(133, 112, 103);
    --lightGrey: rgb(179, 158, 150);
    --lighterGrey: rgb(224, 195, 183);
    --cream:  rgb(252, 239, 184);
    --lighterCream:  rgb(250, 242, 208);
    --lightestCream:  rgb(254, 251, 237);
}


/* ===================================================== */
/* ================== SMALL PHONE (default) ============ */
/* ===================================================== */

/* Main Page Styling */


body {
    background-color: var(--red);
    position:absolute;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0px;
    left: 0px;
    top:0px;
}
#bodyContainer {
    margin: 0% 0% 0% 0%;
    width: 100%;
    max-width: 900px;
} 
#mainContainer {
    background-color: var(--cream);
    width: 101%;
    min-height: 600px;
    border-radius: 0vw;
    padding: 0.3rem 0 10% 0;

}
#updateContainer {
    margin: 5%;

}
.grid-card-container {
    width: 88%;
    display: grid;
    gap: 1.0rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 3% 0 5%;
    padding: 1rem 0 0 0;
}
.grid-card-container-small {
    width: 88%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 3% 0 5%;
    padding: 1rem 0 0 0;
}
#title {
    width: 90%;
    margin: 5%;
    text-align: center;
}

/* Type utilites */
h1 {
    font-size: 1.2rem;
}
.title h1 {
    font-size: 1.2rem;
    margin: 2rem 5% 0.5rem 5%;
    width: 80%;
}




/* Grid utilities */

.grid-col-1 {
    grid-column: span 1;
}
.grid-col-2 {
    grid-column: span 2;
}
.grid-col-3 {
    grid-column: span 3;
}
.grid-col-4 {
    grid-column: span 4;
}
.grid-row-1 {
    grid-row: span 1;
}
.grid-row-2 {
    grid-row: span 2;
}
.grid-row-3 {
    grid-row: span 3;
}

/* Widget Styling */

.widget {
    background-color: var(--lightGrey);
    border-radius: 1rem;
    padding: 5%;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    color: var(--lightestCream);
    min-height: 200px;
    margin: 0 0 0 0;
    grid-column: span 2;
}
.widget h1 { 
    color: var(--darkBrown);
    margin: 1% 0 3% 0;
};
.widget p {
    font-size: 0.8em;
    color: var(--lightGrey);
}
.widget-copy {
    padding: 0% 5% 0% 5%;
}
.log-grid-container {
        width: 88%;
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(3, 1fr);
        margin: 0px 0% 0 0%;
        padding: 0 0 0 0;
}
.important-button {
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    border: 3px solid var(--darkRed);
    cursor: pointer;
    margin: 1% 0 3% 0;
    background-color: var(--lightRed);
}
.important-button:hover {
    opacity: 70%;
}
.buildLogRow {
    width: 100%;
    min-height: 60px;
    padding: 1%;
    height: fit-content;
    font-size: 0.8rem;
}
.widget li {
    margin: 0 0 10px 0;
}


/* CARD STYLING */
 .card{
    background-color: var(--lightRed);
    width: 100%;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 2%;
    cursor: pointer;
    color: var(--darkBrown);
    
}
.card:hover {
    background-color: var(--medRed);
    color: var(--medBrown);
}
.card:hover .portrait{
    opacity: 70%;
}
.card-med {

}
.card-med h1 {
    font-weight: bold;
    padding: 2% 0% 4% 0;
    font-size: 0.8rem;
    margin: 0 5% 0px 10%;
    text-align: left;
}
.card-small {
    border-radius: 10px 10px 0px 0px

}
.card-small h1 {
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
    padding: 0% 5% 0% 5%;

}
.card-focus {
    grid-row: span 4;
    grid-column: span 3;
}
.card-focus h1 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    padding: 0% 5% 0% 5%;

}
.card-focus h2 {
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
    padding: 0% 5% 0% 5%;

}
.card-node-Container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    height: 1rem;
    margin: 1rem 5% 0 5%;
    padding: 0 0 0 0%;

}
.card-node {
    background-color: var(--darkBrown);
    border-radius: 50%;
    height: 4rem;
    color: var(--lightestCream);
    padding: 1rem 0 0 0;
}
.portrait {
    width: 100%;
    width: 100%;
    margin: 0;
    box-shadow: none;
}
.tag {
    background-color: var(--medRed);
    color: var(--cream);
    font-size: 0.6rem;
    width: fit-content;
    padding: 2px 9px 2px 9px;
    border-radius: 6px;
    margin: 5px;    
}
.Stub {

}
.card-button {
    background-color: var(--darkBrown);
    color: var(--cream);
    font-size: 0.6rem;
    width: fit-content;
    padding: 2px 9px 2px 9px;
    border-radius: 6px;
    margin: 5px; 
}
.card-button:hover {
    opacity: 0.7;
}
.card-typeTab{
    height: 1.3rem;
    width: 100%;
    background-color: var(--darkBrown);
    color: var(--lightestCream);
    border-radius: 10px 10px 0px 0px
}
.card-typeTab p {
    padding: 2% 0 1% 5%;
    font-size: 0.7rem;
    font-weight: bold;
}

.type-anthology {

}


/* password */

.pw-input-box {
    background-color: black;
    width: 60%;
    margin: 3rem 7% 0 7%;
    height: 8rem;
    border-radius: 1.5rem;
    color: var(--lightestCream);
    padding: 2rem 10% 2rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.pw-input-box label {
    text-align: center;
    font-weight: bold;
}
.pw-input-box input {
    border-radius: 5px;
    height: 1.5rem;
    padding: 5px;

}
.pw-input-box button {
    height: 2rem;

}


/* Boilerplate */ 

.break {
    clear: both;
}
p {
	margin: 0;
}
a {
	text-decoration: underline;
	font-weight: bold;	
}
a:hover {
	text-decoration: underline;
	font-weight: bold;
}
img {
    width: 100%
}
a img {
	border:medium none;
}
ul{
	padding: 0px;
	margin: 0px;
    list-style-type: none;
}
/* Utilities */
.redType {
    color: var(--lightRed);
}
.greenType {
    color: rgb(114, 244, 194);
}
.noShow {
    visibility: hidden;
    display: none;
}
.show {visibility: visible;}  


/* ===================================================== */
/* ===================== LARGE PHONE =================== */
/* ===================================================== */

@media screen and (min-width: 576px){


}

/* ===================================================== */
/* ===================== TABLET ======================== */
/* ===================================================== */

@media screen and (min-width: 768px){
    body{
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }
    
    
    #mainContainer {
        width: 90%;
        border-radius: 1rem;
        padding: 3% 0 3% 0;
        margin: 0 5% 7% 5%;
    }
    
    
    .grid-card-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
    .grid-card-container-small {
        grid-template-columns: repeat(6, 1fr);
    }
    .pw-input-box {
        width: 30%;
        margin: 3rem 25% 0 25%;
        height: 8rem;
        border-radius: 1.5rem;
        padding: 2rem 10% 2rem 10%;
    }
}